<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QSIGM.My.MySettings.SIGMSQLConnexion" connectionString="Dsn=SIGMSQLConnexion;uid=SIGM"
            providerName="System.Data.Odbc" />
        <add name="QSIGM.My.MySettings.SIGMSQLDEV" connectionString="Dsn=SIGMSQLDEV;uid=SIGM"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>